## Profil PROD. Ne rien activer ici qui n'a pas eu un ✅ GO de [TEST] en dev.
sv_maxclients 48                                # max gratuit avec OneSync, au-delà, licence Cfx
set mysql_ui false

## Durcissement : décommenter après validation en dev
# set sv_entityLockdown "relaxed"
# set sv_filterRequestControl 2
# set sv_enableNetworkedSounds false
# set sv_enableNetworkedPhoneExplosions false
